<footer class="footer">
    <link rel="stylesheet" href="footer.css">
    <div class="column">
        <a class="icon" href="https://www.figma.com/file/B7fogIxOjkUtkMsiq6DjvY/1800_202330_BBY29?type=design&node-id=28%3A540&mode=design&t=EMDKbyYSbtU222M7-1"
           target="_blank">
            <img src="/img/figma.png" alt="Figma">
        </a>
        <a class="icon" href="https://github.com/yjkim717/1800_202330_BBY29" target="_blank">
            <img src="/img/github_.png" alt="GitHub">
        </a>
        <a class="icon" href="https://trello.com/invite/b/PihnA751/ATTIe34defd09004899d49bb41412851be082FEDCB61/1800202330bby29"
           target="_blank">
            <img src="/img/trello_.png" alt="Trello" style="width: 14%">
        </a>
    </div>
    <div class="column">
        <a href="#">Contact us</a><br>
        <a href="#">Our Services</a><br>
        <a href="#">Privacy Policy</a><br>
        <a href="#">Terms & Conditions</a>
    </div>
    <div>&copy; 2023 Line Up. All rights reserved.</div>
</footer>
