<div class="container pt-3" id="userInfo">
    <form id="login-form">
        <div class="form-group d-flex flex-column align-items-center gap-2 pb-1">
            <input type="email" class="form-control w-50 " id="email" placeholder="Enter email" name="email">
            <input type="password" class="form-control w-50 " id="password" placeholder="Enter password"
                name="password">
            <button id="loginSubmitButton" type="button" class="btn">Log in</button>
        </div>
    </form>
</div>
