<div class="d-flex justify-content-center align-items-center vh-100" id="login">
    <form id="login-form">
        <div class="form-group d-flex flex-column align-items-center gap-2 pb-1">
            <h1>Login</h1>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            <input type="password" class="form-control" id="password" placeholder="Enter password"
                name="password">
            <button id="loginSubmitButton" type="button" class="btn">Log in</button>
            <p>Don't have an account? <a href="/entry?authStyle=signup">Register</a></p>
        </div>
    </form>
</div>

