<nav class="navbar">
    <div class="navbar_logo">
        <a href="#">
            <img height="36">
            Line Up!</a>
    </div>
    <ul class="navbar_menu">
        <li><a href="">Home</a> </li>
        <li><a href="">Login</a> </li>
        <li><a href="">Map</a> </li>
        <li><a href="">Status</a> </li>
    </ul>
    <ul class="navbar_links">
        <li>
            <a href="https://github.com/yjkim717/1800_202330_BBY29">
                <img src="/img/github.svg" alt="GitHub">
            </a>
        </li>
        <li><a href="">Team</a> </li>
    </ul>
    <a href="#" class="navbar_toogleBtn">
        <img src="/img/more.png" alt="menu" style="width: 80%; height: auto;">
    </a>
</nav>



<!--<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-info">-->
<!--    <div class="container-fluid py-3">-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <img height="36">-->
<!--            Line Up!</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--    </div>-->
<!--</nav>-->