<div id="restaurantList" class="popup-container">
    <div class="popup-header">Line up!</div>
    <button id="exitButton"><img id="exitButtonImage" src="/img/returnButton.png"></button>
    <p>Restaurants near your location!</p>

    <form id="restaurantListForm">
        <div class="form-group d-flex flex-column" id="restaurantListContainer">
        </div>
    </form>

    <template id="restaurantTemplate">
        <div class="restaurant container d-flex flex-row justify-content-between">
            <span class="restaurant-name" id="restaurantName"></span>
            <input class="form-check-input btn-primary selectRestaurant" type="checkbox" value="checked" id="restaurantCheckBox" dataId="">
        </div>
    </template>

    <input type="number" id="numberOfPeople" value="1">
    <button id="requestButton" class="btn-request">Request</button>
</div>

