<div class="container pt-3" id="userInfo">
    <form id="login-form">  
        <div class="form-group d-flex flex-column align-items-center gap-2 pb-1" >
            <input type="email" class="form-control w-50 " id="email" placeholder="Enter email" name="email">
            <input type="password" class="form-control w-50 " id="password" placeholder="Enter password" name="password">
            <input type="username" class="form-control w-50 " id="name" placeholder="Enter name" name="name">
            <input type="text" class="form-control w-50 " id="number" placeholder="Enter phone #" name="number" pattern="[0-9]{10,11}">
            <button id="signupSubmitButton" type="button" class="btn">Sign up</button>
        </div>
    </form>
</div>

