
/* 
Color Palette:
    purple: #EADDFF
    pink: #FFD8E4
    light grey: #E6E0E9
    dark purple: #D0BCFF
    dark grey: #625B71
*/

body {
    background: url('/img/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position:relative;
    /* Must be at least 320px because it is the size of the smallest screen size */
    min-height: 320px !important;
    min-width: 320px !important;
    overflow-y: scroll;
}


@media screen and (max-width: 768px){

}

@media screen and (min-width: 769px){

}


#logoText {
    font-family: 'Pacifico';
    /*change the font name for what you have*/
    font-size: 2.5rem;
}

@font-face {
    font-family: Pacifico;
    src: url("/font/Pacifico-Regular.ttf");
}

/*  
Appearance:
    -Colour
    -Font
    -Size
*/
.navbar-brand {
    font-family: 'Pacifico';
    /*change the font name for what you have*/
    font-size: 2.25rem;
}

.bg-info {
    background-color: #E6E0E9 !important;
    /* Medium shade for navbar */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    /* Light shade for brand name & nav links for contrast */
}

.btn-info {
    color: #AFBED1;
    /* Light shade for text on info button */
    background-color: #7FBEEB;
    /* Accent color for button background */
    border-color: #7FBEEB;
    /* Dark shade for button border */
}
.btn-primary{
    background:#625B71;
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.btn-primary:hover{
    background:#E6E0E9;
    color:#625B71;
}
.btn-primary:before,.btn-primary:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #625B71;
    transition:400ms ease all;
}
.btn-primary:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-primary:hover:before,.btn-primary:hover:after{
    width:100%;
    transition:800ms ease all;
}

/*.btn-primary {*/
/*    color: #1D1B20;*/
/*    !* Light shade for text *!*/
/*    font-size: 150%;*/
/*    background-color: #ECE6F0;*/
/*    !* Dark shade for primary button background *!*/
/*    border-color: #EADDFF;*/
/*    !* Darkest shade for border *!*/
/*    border-width: thick;*/
/*}*/

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}


/*
--------------
Footer 
--------------
*/

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */

/*
 * Optional: Makes the sample page fill the window.
 */

/* html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
} */




