
/* 
Color Palette:
    purple: #EADDFF
    pink: #FFD8E4
    light grey: #E6E0E9
    dark purple: #D0BCFF
    dark grey: #625B71
*/

#putFooterHere, .footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    border: transparent;
    background: #1D1B20;
    /*background: linear-gradient(to bottom, transparent, #E6E0E9);*/
    margin-bottom: 0vh !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.backButton {
    display: none;
    position: absolute;
    left: 28px;
    padding: 20px 20px;
}

.infoButton{
    display: none;
    position: absolute;
    right: 28px;
    padding: 20px 20px;
}

@media screen and (max-width: 768px) {

    /*#putFooterHere, .footer {*/
    /*    margin-bottom: 200px;  !* Adjust this value as needed *!*/
    /*    padding: 8px 20px;*/
    /*}*/


    .infoButton,
    .backButton {
        display: block;
        /*margin-bottom: 100px;*/
    }

    /*.copyRight{*/
    /*    display: none;*/
    /*}*/
}


