.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    margin-bottom: 0 !important;
    align-items: center;
    background: rgba(98,91,113,0.8);
    border-top-left-radius: 100px;
    padding: 20px 10px;
}
.column {
    margin-top: auto;
    padding-bottom: 10px;
}
.column a {
    color: #FEF7FF;
    padding: 20px;
}
.column a:hover {
    color: #FFD8E4;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {


}