/* 
Color Palette:
    purple: #EADDFF
    pink: #FFD8E4
    light grey: #E6E0E9
    dark purple: #D0BCFF
    dark grey: #625B71
    625B71
*/

#putNavbarHere{
    position: sticky;
    top: 0vh;
    z-index: 5;
}
a{
    text-decoration: none;
    color: #5A5468;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(236, 230, 240, 1), rgba(236, 230, 240, 0.2));
    padding: 8px 20px;
    z-index: 6;
}

.navbar_logo {
    font-size: 36px;
    font-family: 'Pacifico';
    z-index: 7;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: rgba(255, 216, 228, 0.5);
    border-radius: 4px;
}

.navbar_links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_links li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 28px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toogleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_links.active{
        display: flex;
    }

}

@media screen and (min-width: 769px){

}
