/* 
Color Palette:
    purple: #EADDFF
    pink: #FFD8E4
    light grey: #E6E0E9
    dark purple: #D0BCFF
    dark grey: #625B71
*/
@media screen and (max-width: 768px){
  input {
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(103, 80, 164, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #625B71;
    display: block; 
    margin: 0; 
    align-items: center;
  justify-content: center;
  }
  #requestButton.btn-primary {
    margin-right: 10px;
    transform: scale(0.5);
    display: block; 
    margin: 0; 
    align-items: center;
  justify-content: center;

  }

}

@media screen and (min-width: 769px){

}

.popup-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 600px;
  background: transparent;
  border: 4px solid rgba(103, 80, 164, 0.2);
  backdrop-filter: blur(10px);
  color: #625B71;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.restaurant:hover{
  background-color: rgba(255, 216, 228, 0.5);
  border-radius: 4px;
}


.popup-header {
  background: transparent;
  backdrop-filter: blur(10px);
  color: #625B71;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  /*font-weight: bold;*/
  font-family: 'Pacifico';
}
#restaurantList p{
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid #625B71;
  border-bottom-style: dashed;
}

input {
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid rgba(103, 80, 164, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #625B71;
  margin-left: 20px;
}

#restaurantListContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 2px solid rgba(103, 80, 164, 0.2);
}

.restaurant-name {
  font-size: 15px;
}

.wait-time {
  font-size: 13px;
}

#requestButton.btn-primary {
  margin-right: 10px;
  transform: scale(0.5);
}


#selectRestaurant {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  background-color: #a593e0;
  color: white;
  border: none;
  cursor: pointer;
}

#exitButton {
  position: absolute;
  top: 15px;
  right: 0;
  width: 10%;
  border: none;
  background: none;
}

#exitButtonImage {
  width: 70%;
}
.selectRestaurant {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(103, 80, 164, 0.6);
  background-color: #FEF7FF;
  padding: 2px;
  &:checked {
    background-color: #6750A4;
    border: 3px solid rgba(103, 80, 164, 0.6);
  }
}




/* .btn-request:hover {
  background-color: #333;
}
.btn-request {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.btn-request:hover {
  background-color: #333;
}
.btn-request {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.popup-container {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.popup-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
} */