body {
    background-image: url('/resource/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#content {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}


#logo-text {
    font-family: 'Pacifico';
    /*change the font name for what you have*/
    font-size: 2.5rem;
}

    