body {
    background-image: url('/resource/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#content {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}




    