

#putMapHere {
    height: 100%;
    width: 100%;
}

#searchBar {
    margin: 10px;
    padding: 5px;
    width: 300px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#putMapHere #infowindow-content {
    display: inline;
}