#status {
    display: flex;
    align-items: center;
    height: 79vh;
}
.styled-table {
    background: transparent;
    border: 4px solid rgba(103, 80, 164, 0.2);
    backdrop-filter: blur(10px);
    color: #625B71;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-spacing: 50px;
    align-items: center;
    width: 100%;
}

h4{
    color: #625B71;
    text-align: center;
}

button {
    width: 110%;
    background: #FEF7FF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #625B71;
    padding-left: 0;
    text-align: center;
}

.styled-table thead tr {
    border-bottom: 4px solid rgba(103, 80, 164, 0.2);
    padding: 30px;
}

.styled-table th  {
    padding: 30px;
}

.styled-table td {
    padding: 30px;
}



.red-circle,
.green-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red-circle {
    background-color: red;
}

.green-circle {
    background-color: green;
}

#searchBar {
    border: 4px solid rgba(103, 80, 164, 0.4);
    border-radius: 10px;
    font-size: 16px;
    color: #625B71;
    backdrop-filter: blur(10px);
}

#searchButton:hover {
    background-color: rgba(255, 216, 228, 0.6);
    border-radius: 40px;
}

#searchButton {
    backdrop-filter: blur(30px);
    padding: 20px;
}
#searchContainer {
    margin-left: 30px;
}

@media screen and (max-width: 768px){
    #searchContainer {
        position: relative;
        background-color: rgba(236, 230, 240, 0.5);
        padding: 20px;
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
        width: 100%;
    }

    #searchBarContainer {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #searchBar {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #searchButton {
        background: url('/img/Trailing-Elements.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        z-index:1983571092;
    }



    /* Adjust the z-index values of other elements as needed */
    #putNavbarHere,
    #searchContainer {
        position: relative;
        z-index: 1;
    }
}

@media screen and (min-width: 769px){
    #searchContainer {
        position: relative;
        background-color: rgba(236, 230, 240, 0.5);
        padding: 20px;
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
        width: 100%;
    }

    #searchBarContainer {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #searchBar {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #searchButton {
        background: url('/img/Trailing-Elements.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        z-index:1983571092;
    }


    #putNavbarHere,
    #searchContainer {
        position: relative;
        z-index: 1;
    }
}


@media screen and (max-width: 768px){

    .styled-table {
        background: transparent;
        border: 4px solid rgba(103, 80, 164, 0.2);
        backdrop-filter: blur(10px);
        color: #625B71;
        border-radius: 12px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        border-spacing: 50px;
        align-items: center;
        width: 100%;
    }

    .styled-table th, .styled-table td {
        padding: 20px;
        font-size: 85%;
      }


      button {
        width: 110%;
        background: #FEF7FF;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        font-size: 16px;
        color: #625B71;
        padding-left: 0;
        text-align: center;
    }

    .styled-table thead tr {
        border-bottom: 4px solid rgba(103, 80, 164, 0.2);
        padding: 30px;
    }

}

@media screen and (max-width: 444px){

    .styled-table th, .styled-table td {
        padding: 5px;
        font-size: 70%;
      

    .styled-table thead tr {
        border-bottom: 4px solid rgba(103, 80, 164, 0.2);
        padding: 30px;
    }

}

}