<div class="popup-container">
    <div class="popup-header">Line up!</div>
    <p>Restaurants near your location!</p>
    <ul class="restaurant-list">
        <li class="restaurant-item">
            <span>Browns Socialhouse</span> <span>3 min</span>
        </li>
        <li class="restaurant-item">
            <span>Pizza Garden</span> <span>10 min</span>
        </li>
        <li class="restaurant-item">
            <span>La Taqueria Pinche</span>
        </li>
        <li class="restaurant-item">
            <span>Saboten Express</span>
        </li>
        <li class="restaurant-item">
            <span>Neptune Palace</span>
        </li>
        <li class="restaurant-item">
            <span>Tendon Kohaku</span>
        </li>
        <li class="restaurant-item">
            <span>Bona Fide</span>
        </li>
        <li class="restaurant-item">
            <span>JINYA RAMEN</span>
        </li>
    </ul>
    <button class="btn-request">Request</button>
    </div>