<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Line up!</title>
  <link rel="stylesheet" href="../styles/components/listpopup.css">

</head>

<body>

  <div class="app-container">
    <div class="app-header">
      Line up!
    </div>
    <ul class="restaurant-list">
      <li class="restaurant-item">
        <span class="restaurant-name">Browns Socialhouse</span>
        <div>
          <span class="wait-time">3 min</span>
          <input type="checkbox" checked>
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">Pizza Garden</span>
        <div>
          <span class="wait-time">10 min</span>
          <input type="checkbox" checked>
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">La Taqueria Pinche</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox">
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">Saboten Express</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox">
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">Neptune Palace</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox" checked>
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">Tendon Kohaku</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox">
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">Bona Fide</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox" checked>
        </div>
      </li>
      <li class="restaurant-item">
        <span class="restaurant-name">JINYA RAMEN</span>
        <div>
          <span class="wait-time"></span>
          <input type="checkbox" checked>
        </div>
      </li>
    </ul>
    <button class="request-button">Request</button>
  </div>

</body>

</html>