<div class="popup-container">
    <div class="popup-header">Line up!</div>
    <p>Restaurants near your location!</p>
    <form id="popupForm">
        <div class="form-group d-flex flex-column" id="popupFormContainer">
        </div>
    </form>
    <template id="restaurantPopup">
        <div class="container d-flex flex-row justify-content-between">
            <span id="restaurantOption"></span>
            <input class="form-check-input btn-primary selectRestaurant" type="checkbox" value="checked" id="restBut" data-id="">
        </div>
    </template>
    <input type="number" id="numberOfPeople" value="1">
    <button class="btn-request" onclick="lineup()">Request</button>
</div>

<script src="/scripts/components/signup.js"></script>
<script src="/scripts/components/listpopup.js"></script>
<script>
    loadList();
</script>
